* {
  font-family: "Roboto", sans-serif;
}

nav {
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: relative;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.subheader_logo {
  display: flex;
  align-items: center;
}

.subheader .subheader_logo {
  margin-top: 16px;
  max-width: 100%;
  text-decoration: none;
}
.subheader .subheader_logo span {
  margin-left: 10px;
  font-size: 26px;
  text-align: left;
  color: #fff;
}
.subheader .subheader_official {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.subheader_call {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  position: relative;
  min-height: 800px;
  background: url("../img/promo_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
  margin-top: -84px;
}

.promo_dark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 10;
}

.promo .promo_header {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  z-index: 11;
}
.promo .promo_subheader {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  color: #fff;
  z-index: 11;
}
.promo .promo_descr {
  position: relative;
  margin-top: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  z-index: 11;
}
.promo .promo_btn {
  position: relative;
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  z-index: 12;
}
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reason {
  min-height: 900px;
  padding: 71px 0 65px 0;
}

.reason_btn {
  margin: 0 auto;
  position: relative;
  width: 112px;
  line-height: 24px;
  background-color: #000;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reason_header {
  position: relative;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222;
  text-transform: uppercase;
}

.reason_wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reason_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  flex: 0 0 auto;
}

.reason_item {
  margin-top: 40px;
  display: flex;
  width: 45%;
}

.reason_descr {
  margin-left: 26px;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
  color: #202020;
}

.blue_descr {
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
}

.label {
  margin: 0 auto;
  position: relative;
  width: 112px;
  line-height: 24px;
  padding: 5px 12px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  border-radius: 5px;
  border-left-bottom-radius: 10px;
  border-right-bottom-radius: 10px;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.item_dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  z-index: 11;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/img1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/img2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/img3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/img4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/img5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/img6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 12;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  padding: 6px;
  background-color: #000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
  z-index: 12;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.choise {
  min-height: 550px;
  background-color: black;
  padding: 56px 0 138px 0;
}

.label_2 {
  margin: 0 auto;
  width: 112px;
  padding: 8px 15px;
  background-color: white;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_everyday {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.subtitle_new {
  margin-top: 19px;
  margin-bottom: 56px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.choise .car {
  position: relative;
}
.choise .car .uber_car {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.choise .car .uber_car img {
  width: 759px;
  height: 480px;
}

.choise_2 {
  min-height: 397px;
  padding: 4px 0 138px 0;
  background-color: white;
}

.title_next {
  margin-top: 260px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.require {
  padding: 68px 0 85px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/icon_9.png") center center/cover no-repeat;
}
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li:before {
  background: url("../icons/icon_19.png") center center/cover no-repeat;
}

.world {
  position: relative;
  min-height: 717px;
  background: url("../img/world_bg.png") center center/cover no-repeat;
  padding: 49px 0 49px 0;
}
.world .title_world {
  position: absolute;
  display: block;
  left: 0;
  bottom: 49px;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #1fbad6;
  text-decoration: none;
}

.footer {
  min-height: 156px;
  padding: 14px 0 31px 0;
}
.footer_divider {
  width: 299px;
  height: 4px;
  margin: 0 auto;
  background-color: #1fbad6;
}
.footer_wrapper {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}
.footer_item {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #070716;
}
.footer_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .f_center {
  flex: 0 0 auto;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .f_center_wrap {
  min-width: 390px;
  padding: 14px 0 31px 0;
}
footer .f_center_wrap .f_divider {
  width: 299px;
  height: 4px;
  margin: 0 auto;
  background-color: #1fbad6;
}
footer .f_center_wrap .f_wrapper {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
}
footer .f_center_wrap .f_item {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #070716;
}
footer .f_center_wrap .f_wrapper_2 {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
footer .f_center_wrap .f_wrapper_2 .f_item_next {
  margin: 0 auto;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  color: #999;
}
footer .f_center_wrap .f_lenguage {
  position: absolute;
  display: block;
  margin-top: 19px;
  left: 0;
  width: 100%;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  color: #1fbad6;
  text-decoration: none;
}
footer .f_left {
  flex: 1;
  padding-left: 23px;
}
footer .f_left .f_social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .f_left .f_social > * {
  flex: 0 0 auto;
  margin-right: 9px;
}
footer .f_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheader .xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu .menu_item {
    padding-right: 20px;
  }
  .menu .menu_link {
    font-size: 13px;
  }

  .promo .promo_header {
    font-size: 50px;
  }

  .reason .reason_wrapper {
    align-items: flex-start;
  }
  .reason .reason_descr {
    width: 300px;
  }
  .reason .blue_descr {
    font-size: 15px;
  }

  .mobile .mobile_item {
    width: 300px;
  }

  .choise {
    padding: 36px 0 138px 0;
  }

  .choise_2 {
    padding: 4px 0 20px 0;
  }

  .require {
    padding: 15px 0 55px 0;
  }

  .world {
    padding: 39px 0 39px 0;
  }

  footer .f_center {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .menu .menu_item {
    padding-right: 8px;
  }
  .menu .menu_link {
    font-size: 10px;
  }

  .subheader .subheader_logo span {
    font-size: 20px;
  }
  .subheader .subheader_official {
    font-size: 11px;
  }
  .subheader .subheader_phone {
    font-size: 18px;
  }
  .subheader .subheader_btn {
    margin-top: 21px;
    width: 100%;
    height: 40px;
  }

  .promo .promo_header {
    font-size: 40px;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }

  .reason .reason_wrapper {
    margin-top: 10px;
  }
  .reason .reason_item {
    flex-direction: column;
    align-items: center;
  }
  .reason .reason_descr {
    margin-top: 20px;
    width: 300px;
  }
  .reason .blue_descr {
    font-size: 15px;
  }

  .mobile .mobile_item_subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .choise .title_everyday {
    margin-top: 30px;
    font-size: 35px;
  }
  .choise .subtitle_new {
    margin-top: 15px;
    font-size: 15px;
  }

  .require .title {
    margin-top: 30px;
    font-size: 35px;
  }

  .world .title_everyday {
    margin-top: 30px;
    font-size: 35px;
  }
  .world .subtitle_new {
    margin-top: 15px;
    font-size: 15px;
  }

  footer {
    flex-direction: column;
    height: 250px;
  }
  footer .f_center_wrap {
    min-width: 320px;
  }
  footer .f_center {
    order: 1;
    width: 100%;
  }
  footer .f_center .f_item_next {
    padding: 0 8px;
  }
  footer .f_center .f_wrapper_2 {
    flex-wrap: wrap;
  }
  footer .f_left {
    order: 2;
    margin-top: 18px;
  }
  footer .f_right {
    order: 3;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    transition: 0.6s all;
  }
  .menu.menu_active {
    left: 0;
  }
  .menu .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    z-index: 16;
    transition: 0.5s all;
  }
  .hamburger.hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger.hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger.hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger.hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader .subheader_phone {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .promo .promo_header {
    font-size: 40px;
    line-height: 45px;
  }

  .reason .reason_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile .title {
    margin-top: 30px;
    font-size: 35px;
  }
  .mobile .subtitle {
    margin-top: 15px;
  }
  .mobile .mobile_item {
    margin-bottom: 30px;
  }

  .choise {
    min-height: 430px;
  }
  .choise .title_everyday {
    margin-top: 28px;
    font-size: 30px;
  }
  .choise .subtitle_new {
    margin-top: 13px;
  }
  .choise .car .uber_car img {
    width: 500px;
    height: 321px;
  }

  .choise_2 {
    min-height: 250px;
  }
  .choise_2 .title_next {
    margin-top: 150px;
    font-size: 15px;
  }

  .require .title {
    margin-top: 28px;
    font-size: 30px;
  }
  .require .require_block {
    margin: 30px 0;
  }
  .require .require_block .require_title {
    padding-left: 19px;
  }
  .require .require_block .require_descr {
    padding-left: 19px;
  }

  .world {
    min-height: 617px;
  }
  .world .title_everyday {
    margin-top: 20px;
    font-size: 30px;
  }
  .world .subtitle_new {
    margin-top: 10px;
  }

  footer {
    flex-direction: column;
    height: 250px;
  }
  footer .f_center_wrap {
    min-width: 320px;
  }
  footer .f_center {
    order: 1;
    width: 100%;
  }
  footer .f_center .f_item_next {
    padding: 0 8px;
  }
  footer .f_center .f_wrapper_2 {
    flex-wrap: wrap;
  }
  footer .f_left {
    order: 2;
    margin-top: 18px;
  }
  footer .f_right {
    order: 3;
    margin-bottom: 5px;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }

  .hamburger {
    top: 16px;
  }
  .hamburger.hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  .hamburger.hamburger_active span:nth-child(3) {
    transform: translateY(5px) rotate(45deg);
  }

  .subheader {
    height: 60px;
  }
  .subheader .subheader_official {
    display: none;
  }
  .subheader .subheader_logo {
    margin-top: 20px;
  }
  .subheader .subheader_logo img {
    width: 20px;
    height: 20px;
  }
  .subheader .subheader_logo span {
    font-size: 14px;
  }
  .subheader .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .subheader .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .subheader .subheader_btn:hover {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }

  .promo {
    margin-top: -60px;
    min-height: 400px;
    padding: 113px 0 35px 0;
  }
  .promo .promo_descr {
    display: none;
  }
  .promo .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .promo .promo_btn:hover {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }

  .menu {
    width: 85%;
  }
  .menu .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu .menu_link {
    display: block;
  }

  .reason {
    padding: 35px 0 25px 0;
  }
  .reason .reason_btn {
    font-weight: 300;
    text-transform: uppercase;
  }
  .reason .reason_header {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .reason .reason_item {
    margin-top: 26px;
  }
  .reason .reason_round {
    width: 100px;
    height: 100px;
  }
  .reason .reason_descr {
    width: 250px;
    margin-left: 0;
    text-align: left;
  }
  .reason .blue_descr {
    margin-top: 27px;
    font-size: 16px;
  }

  .mobile {
    padding: 18px 0 10px 0;
  }
  .mobile .title {
    margin-top: 20px;
    font-size: 16px;
  }
  .mobile .subtitle {
    margin-top: 15px;
    font-size: 14px;
  }
  .mobile .row {
    margin-top: 30px;
  }

  .choise {
    min-height: 270px;
  }
  .choise .title_everyday {
    display: none;
  }
  .choise .subtitle_new {
    display: none;
  }
  .choise .car .uber_car {
    margin-top: 20px;
  }
  .choise .car .uber_car img {
    width: 300px;
    height: 221px;
  }

  .choise_2 {
    min-height: 150px;
    background-color: black;
  }
  .choise_2 .title_next {
    margin-top: 40px;
    font-size: 19px;
    color: white;
  }

  .require {
    padding: 30px 0 25px 0;
  }
  .require .title {
    margin-top: 15px;
    font-size: 20px;
  }
  .require .require_block {
    margin: 10px 0;
  }
  .require .require_block .require_title {
    font-size: 15px;
  }
  .require .require_block .require_list {
    margin-top: 15px;
  }
  .require .require_block .require_list li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .require .require_block .require_descr {
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;
  }

  .world {
    min-height: 440px;
    padding: 29px 0 29px 0;
  }
  .world .title_everyday {
    margin-top: 10px;
    font-size: 20px;
  }
  .world .subtitle_new {
    margin-top: 5px;
    font-size: 13px;
  }

  footer {
    flex-direction: column;
    height: 250px;
  }
  footer .f_center_wrap {
    min-width: 320px;
  }
  footer .f_center {
    order: 1;
    width: 100%;
  }
  footer .f_center .f_item_next {
    padding: 0 8px;
  }
  footer .f_center .f_wrapper_2 {
    flex-wrap: wrap;
  }
  footer .f_left {
    order: 2;
    margin-top: 18px;
  }
  footer .f_right {
    order: 3;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
