/* line 1, ../../../../../myProjects/Project2/src/sass/style.sass */
* {
  font-family: "Roboto", sans-serif;
}

/* line 4, ../../../../../myProjects/Project2/src/sass/style.sass */
nav {
  height: 50px;
  background-color: #212121;
}

/* line 8, ../../../../../myProjects/Project2/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 15, ../../../../../myProjects/Project2/src/sass/style.sass */
.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

/* line 21, ../../../../../myProjects/Project2/src/sass/style.sass */
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 25, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader {
  position: relative;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

/* line 31, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader_logo {
  display: flex;
  align-items: center;
}

/* line 36, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader .subheader_logo {
  margin-top: 16px;
  max-width: 100%;
  text-decoration: none;
}

/* line 41, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader .subheader_logo span {
  margin-left: 10px;
  font-size: 26px;
  text-align: left;
  color: #fff;
}

/* line 47, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader .subheader_official {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/* line 52, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader_call {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-align: right;
}

/* line 60, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

/* line 70, ../../../../../myProjects/Project2/src/sass/style.sass */
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.subheader_btn:hover {
    background-image: none;
    background-color: #1eacc7;
}

/* line 84, ../../../../../myProjects/Project2/src/sass/style.sass */
.promo {
  position: relative;
  min-height: 800px;
  background: url("../img/promo_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
  margin-top: -84px;
}

/* line 91, ../../../../../myProjects/Project2/src/sass/style.sass */
.promo_dark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 10;
}

/* line 102, ../../../../../myProjects/Project2/src/sass/style.sass */
.promo .promo_header {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  z-index: 11;
}

/* line 113, ../../../../../myProjects/Project2/src/sass/style.sass */
.promo .promo_subheader {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  color: #fff;
  z-index: 11;
}

/* line 125, ../../../../../myProjects/Project2/src/sass/style.sass */
.promo .promo_descr {
  position: relative;
  margin-top: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  z-index: 11;
}

/* line 135, ../../../../../myProjects/Project2/src/sass/style.sass */
.promo .promo_btn {
  position: relative;
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  z-index: 12;
}

.promo_btn:hover {
    background-image: none;
    background-color: #1eacc7;
}


/* line 152, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason {
  min-height: 900px;
  padding: 71px 0 65px 0;
}

/* line 156, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason_btn {
  margin: 0 auto;
  position: relative;
  width: 112px;
  line-height: 24px;
  background-color: #000;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 170, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason_header {
  position: relative;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222;
  text-transform: uppercase;
}

/* line 179, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason_wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 185, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  flex: 0 0 auto;
}

/* line 196, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason_item {
  margin-top: 40px;
  display: flex;
  width: 45%;
}

/* line 201, ../../../../../myProjects/Project2/src/sass/style.sass */
.reason_descr {
  margin-left: 26px;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
  color: #202020;
}

/* line 208, ../../../../../myProjects/Project2/src/sass/style.sass */
.blue_descr {
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
}

/* line 213, ../../../../../myProjects/Project2/src/sass/style.sass */
.label {
  margin: 0 auto;
  position: relative;
  width: 112px;
  line-height: 24px;
  padding: 5px 12px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 229, ../../../../../myProjects/Project2/src/sass/style.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  border-radius: 5px;
  border-left-bottom-radius: 10px;
  border-right-bottom-radius: 10px;
}

/* line 242, ../../../../../myProjects/Project2/src/sass/style.sass */
.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.item_dark {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
}

.mobile .row {
    margin-top: 32px;
}

.mobile .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    z-index: 11;
    margin-bottom: 19px;
    padding-top: 92px;
}

.mobile .mobile_item_1{
    background: url("../img/img1.png") center center/cover no-repeat;
}
.mobile .mobile_item_2{
    background: url("../img/img2.png") center center/cover no-repeat;
}
.mobile .mobile_item_3{
    background: url("../img/img3.png") center center/cover no-repeat;
}
.mobile .mobile_item_4{
    background: url("../img/img4.png") center center/cover no-repeat;
}
.mobile .mobile_item_5{
    background: url("../img/img5.png") center center/cover no-repeat;
}
.mobile .mobile_item_6{
    background: url("../img/img6.png") center center/cover no-repeat;
}

.mobile .mobile_item_subtitle {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 12;
}

.mobile .mobile_item_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    padding: 6px;
    background-color: #000;
    margin: 0 auto;
    border-radius: 100%;
    cursor: pointer;
    z-index: 12;
}

.mobile .mobile_item_plus img {
    width: 100%;
}

.mobile_item_plus:before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: #1eacc7;
    transition: 0.3s all;
}

.mobile_item_plus:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 2px;
    height: 14px;
    background-color: #1eacc7;
    transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
    background-color: #ff5656;
}

.choise {
    min-height: 499px;
    background-color: black;
    padding: 56px 0 138px 0;
}

.label_2 {
    margin: 0 auto;
    width: 112px;
    padding: 8px 15px;
    background-color: white;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_everyday {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.subtitle_new {
    margin-top: 19px;
    margin-bottom: 56px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.choise .car{
    position: relative;
}

.choise .car .uber_car{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.choise .car .uber_car img{
    width: 759px;
    height: 480px;
}

.choise_2{
    min-height: 397px;
    padding: 4px 0 138px 0;
    background-color: white;
}

.title_next {
    margin-top: 260px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.require {
    padding: 68px 0 85px 0;
}

.require_block {
    margin: 33px 0;
}

.require_block_nmb {
    margin-bottom: 0px;
}

.require_title {
    font-size: 22px;
    font-weight: 400;
    color: #1ca8c3;
}

.require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px;
}

.require_list li {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}
.require_list li:before {
    content: "";
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url("../icons/icon_9.png") center center/cover no-repeat;
}

.require_descr {
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    color: #1ca8c3;
}

.require .warning .require_title {
    color: #ff5656;
}

.require .warning .require_list li:before {
    background: url("../icons/icon_19.png") center center/cover no-repeat;
}

.world {
    position: relative;
    min-height: 717px;
    background: url("../img/world_bg.png") center center/cover no-repeat;
    padding: 49px 0 49px 0;
}

.world .title_world {
    position: absolute;
    display: block;
    left: 0;
    bottom: 49px;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #1fbad6;
    text-decoration: none;
}

.footer {
    min-height: 156px;
    padding: 14px 0 31px 0;
}
.footer_divider {
    width: 299px;
    height: 4px;
    margin: 0 auto;
    background-color: #1fbad6;
}

.footer_wrapper {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.footer_item {
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #070716;
}

.footer_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
}



/*# sourceMappingURL=style.css.map */